
<div class="app-container">
	
	<div class="section">
		<search-videos></search-videos>
	</div>
	<div class="section">
		<video-player [video]="selectedVideo"></video-player>
	</div>
	
	<div class="section">
		<video-list [list]="favoritesList"></video-list>
	</div> 
</div>