<h3>Search Videos</h3>

<p>
	<input [(ngModel)]="searchSettings.q">
	<button (click)="searchVideos(true)">Search</button>
</p>
<p>
	<label>Sort by:</label> 
	<button *ngFor="let option of sortOptions" 
			(click)="searchSettings.order = option; searchVideos();"
			[class.selected]="option === searchSettings.order">
			{{option}}
	</button>
</p>

<p *ngIf="errorMessage">{{errorMessage}}</p>

<video-list [list]="results"></video-list>