<div *ngIf="video">
	<iframe height="315"
		[src]="videoUrl">
	</iframe>
	
	<div *ngIf="video.statistics">Likes: {{video.statistics.likeCount}}, Dislikes: {{video.statistics.dislikeCount}}, Channel: {{ video.snippet.channelTitle }}</div>
	<button (click)="toggleFavorite(video)">{{ isFavorite ? 'Remove From' : 'Add to' }} Favorites</button>
	
	<div  *ngIf="video.comments">
		<h3>Comments</h3>
		<ul>
			<li *ngFor="let comment of video.comments">
				<strong>{{comment.snippet.topLevelComment.snippet.authorDisplayName}}</strong>
				<p [innerHTML]="comment.snippet.topLevelComment.snippet.textDisplay"></p>
			</li>
		</ul>
	</div>
</div>

