<ul *ngIf="list">
	<p *ngIf="!list.length">No Videos Found</p>
	<li *ngFor="let item of list" (click)="selectVideo(item)">
	<img [src]="item.snippet.thumbnails.default.url">
	<strong>{{item.snippet.title}}</strong><br>
	{{ item.snippet.description}}<br>
	{{ item.snippet.publishedAt | date:"MM/dd/yy" }}</li>
</ul>