.app-container {
	display: flex;
	height: 100vh;
	justify-content: space-between;
}

.section {
	width: 30%;
}

iframe {
	width: 100%;
}

ul {
	list-style: none;
	padding-left: 0;
}
li {
	margin: 15px 0;
	border-bottom: 1px solid #222;
	clear: both;
	padding-bottom: 15px;
}
li img {
	float: left;
	margin: 0 10px 10px 0;
}

button.selected {
	border: 1px solid blue;
}